body{
    overflow-x: hidden;
}

input.checkbox-column{
    /* width: 20px !important; */
    border: 5px solid black;
    border-radius: none;
}

.labels, .labels-passive{
    display: inline-block;
    width: fit-content;

    label{
        display: block;
        margin-top: 16px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.79px;
        /* text-align: left; */
        width: 150px;
        /* width: fit-content; */

    }
}

.table{
    margin: 28px 0 0 28px;
}

th,td.checkbox-column{
    width: 52px;
    height: 52px;
}

.column-one{
    width: 68px;
}

.column-two, .column-three,.column-four{
    width: 176px;
}

.column-five{
    width: 118px;
}

.column-six{
    width: 113px;
}

.column-seven{
    width: 154px;
}

.column-eight{
    width: 212px;
}

tr th{
    height: 54px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
}

tr td{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    height: 54px;

}

.last-line{
    height: 85px;
    border: 1px solid black
}

.add, .add-passive{
    width: 110px;
    height: 37px;
    border-radius: 32px;
    padding: 9px 28px;
    background-color: #094C89;
    border: none;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    text-align: left;
    color: #fff;

}

h3.activities,.passive{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.buttons{
    margin-top: 20px    ;
}

.blur-div{
    backdrop-filter: blur(5px);
}

.red-circle{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: red;
}

.accounting-paragraph{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    text-align: left;

}

.labels, .labels-passive{
    display: none;
    position: absolute;
    width: 508px;
    height: 375px;
    background-color: #FCFCFC;
    border-radius: 18px;
    top:252px;
    left: 258px;

    input{
        width: 153px;
        margin-left: 34px;
    }

    label{
        width: 180px;
    }
}

.labels-passive{
    height: 469px;
}

/* .blur{
    position: absolute;
    top: 0;
    width: 1920px;
    height: 1080px;

} */

.input-and-label{
    margin: 100px 0 60px 40px;
}

.close-icon-div img{
    position: absolute;
    right: 40px;
    top: 40px;
}

.give-up-add-buttons{
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    gap: 15px;
}

.backdrop{
    backdrop-filter: blur(5px);
}

#give-up-btn{
    width: 129px;
    height: 37px;
    border-radius: 32px;
    padding: 9px 35px 9px 35px;
    border: none;
    background-color:  #98B0C7;
    color: #fff;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    box-shadow: -1px 1px 2px 0px #00000080;
}

.checkbox{
    margin-left: -35px !important;
}

#add-btn{
    background-color: #21D25C;
    width: 124px;
    height: 37px;
    border: none;
    border-radius: 32px;
    padding: 9px 35px 9px 35px;
    box-shadow: -1px 1px 2px 0px #00000080;
    color: #fff;
}

.close-icon, .close-icon-passive{
    cursor: pointer;
}

@media only screen and (max-width: 1050px) {
    .labels, .labels-passive{
        left: 110px;
        margin: 0 auto !important;
    }
}