body{
    margin: 0;
}

.container{
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.left{
    width: 315px;
    height: 1080px;
    background-color: #073763;
}

.right{
    width: 1605px;
    /* height: 100vh; */
    background-color: #FCFCFC;
    position: relative;
}

nav{

    a{
        font-family: 'Segoe UI';
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        color: white;
        display: flex;
        height: 52px;
        align-items: center;
        gap: 25px;
        text-decoration: none;
        padding-left: 28px;
        padding-right: 110px;
    }
}



.account{
    display: flex;  
    /* width: 80vw; */
    position: relative;
}

.profile{
    display: flex;
    align-items: center;
    gap: 15px;
   
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #073763;

    }
}

.account-parametrs-text{
    width: 70vw;
    text-align: center;
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
    }
}

.logo-text{
    
    font-family: Open Sans;
    font-size: 48.32px;
    font-weight: 400;
    color: white;
    margin-left: 28px;
    margin-bottom: 25px;
    
    
}

#profile-photo{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.div-color{
    display: flex;
    font-family: Open Sans;
    background-color: #073763;
    height: 36px;
    width:auto;
    color: white;
    padding-left: 28px;
    align-items: center;
}

/* nav-js */

.navigation{
    display: none;
    position: absolute;
    top: 73px;
    background-color: white;
    width: 200px;
    height: 126px;

    a{
        display: block;
        text-decoration: none;
        color: black;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        margin-left: 8px;
        margin-top: 15px;
    }
}

.navigation.active{
    display: block;
}

.menu.active{
    display: block;
}

.labels{
    display: inline-block;
    width: fit-content;

    label{
        display: block;
        margin-top: 16px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.79px;
        /* text-align: left; */
        width: 150px;
        /* width: fit-content; */

    }
}

#labels{

    label{
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 21.79px;
        width: 185px;
        margin-top: 20px;
    }

    p{
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.79px;
        text-align: left;

    }

    div{
        align-items: center;
    }

    input{
        margin-top: 20px !important;
        outline: none;
    }

    select{
        margin-top: 18px;
        width: 254px;
    }

    #contract-status{
        width: 144.55px;
        margin: 0 !important;
    }
}

.inputs{
    display: block;
    width: 216px;
}
input{
    border: none;
    border-bottom: 1px solid black;
    width: 250px;
    margin-top: 17px !important;
    background-color: transparent;
    outline: none;
}


select{
    width: 216px;
    margin-top: 35px;
    border:none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

select:focus{
    outline: none;
}

.line{
    width: 250px;
}

a:is(:link,:active,:visited).active{
    text-decoration: none;
    background-color: white;
    color: #000;
    height: 52px;
    width: 100%;
    border-radius: 6px;
    img{
        filter: invert(1);
    }
}

/* go-back and save*/

.buttons-div{
    display: flex;
    gap: 17px;
    position: absolute;
    margin-top: 60px;
    bottom: 0;
    top: 915px;
    right: 28px;
    overflow: hidden;
}

.go-back{
    width: 113px;
    height: 37px;
    background-color: #98B0C7;
    padding: 9px 25px 9px 25px;
    border-radius: 32px;
    box-shadow: -1px 1px 2px 0px #00000080;
    border: none;
    color: white;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
}

.save{
    width: 129px;
    height: 37px;
    padding: 9px 25px 9px 25px;
    border-radius: 32px;
    background-color: #21D25C;
    border: none;
    box-shadow: -1px 1px 2px 0px #00000080;
    color: #fff;

}

button:hover{
    cursor: pointer;
}

.line{
    width: 520px;
    height: 1px;
    background-color: black;
}

.form-div{
    display: flex;
    /* width: 80vw; */
    justify-content: space-between;
}


.user-parametrs, .password-changing{
    display: flex;
    align-items: center;
    gap: 22px;
}

p.user-parametrs-text, p.password-changing-text{
font-family: 'Segoe UI';
font-size: 16px;
font-weight: 700;
}

#edit-icon, #delete-icon{
    cursor: pointer;
}

.hamburger-icon-div{
    display: none;
}

#hamburger-icon{
    cursor: pointer;
}

.none{
    display: none;
}

.navbar{
    background-color: #073763;
    left: 0;
    height:100%;
    position: fixed;
    top: 60px; ;
    position: absolute;
    width: 200px;
    box-shadow: 5px 4px 15px 0px #0000001A;
    a{
        text-decoration: none;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        padding-left: 15px;
        margin-top: 20px;
        color: white;

    }
}

@media only screen and (max-width: 1050px) {
    .menu{
        display: none;
    }

    .form-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buttons-div{
        width: 100%;
    }
    .left{
        display: none;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
    }
    
    .labels{
        margin-left:-36px;
    }
    .relations, .new-password-div{
        margin-left: 36px;
    }

    .buttons-div{
        width: 100%;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%)
    }

    #form{
        flex-direction: column;
    }

    .accounting-tables{
        flex-wrap: wrap;
        justify-content: center;
    }

    .red-circle-div{
        flex-direction: row !important;
        gap: 55px;
        align-items: start;
    }
    .account-parametrs-text{
        width: fit-content;
    }
    .account{
        justify-content:space-between;
        gap: 50px !important;
    }

    .div-color{
        overflow-x: hidden;
    }

    .right{
        width: 700px;
        justify-content: center;
        margin:  0 auto;
    }

    .hamburger-icon-div{
        display: flex; 
    }
    
}

