input.checkbox-column{
    /* width: 20px !important; */
    border: 5px solid black;
    border-radius: none;
}

.table{
    margin: 28px 0 0 28px;
}

th,td.checkbox-column{
    /* width: 52px; */
    height: 52px;
}


th{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    padding: 0 45px;
}

tr td{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

.last-line{
    height: 85px;
    border: 1px solid black
}

.total-number-of-employees{
    text-align: left; 
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.one-hundred-seventy-eight{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
}

.div-color-gray{
        /* width: 800px; */
    background-color: rgba(135, 157, 172, 1);
    height: 16px;
    margin-top: 14px;
}

.pagination{
    display: flex;
    gap: 11px;
    margin: 28px 0 0 28px;
}

.page-links{
    width: 42px;
    height: 42px;
    background: #0000000D;
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #00000033;
    border-radius: 4px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: #07376359;
}

.search-comprehensively{
    display: flex;
    flex-direction: column;
    width: 290px;
    align-items: center;
    gap: 10px;
}

.search-comprehensively input{
    width: 234px !important;
    border-bottom: 1px solid#BDBDBD;
    height: 28px;
}

input::placeholder{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: #BDBDBD;
}

input:focus{
    outline: none;
}


.clear-btn{
    width: 120px;
    height: 37px;
    border-radius: 32px;
    background-color: #EFBF3A;
    box-shadow: -1px 1px 2px 0px #00000080;
    border: none;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    color: #fff;

}

h3{
    font-family: Montserrat ;
    font-size: 22px;
    font-weight: 700;
}

h4{
    font-family: Open Sans;
    font-size: 19px;
    font-weight: 400;

}

ul{
    margin-left: -40px;
    li{
        list-style: none;
        margin-right: 50px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        color: #BDBDBD;
    }
}

.x-icon{
    background: url("/public/close-icon.svg") no-repeat right;
    background-size: 18px;  
}

.search-icon{
    background: url("/public/search-icon.svg") no-repeat right;
    background-size: 18px;  
}


@media only screen and (max-width: 1050px) {
    .contracts{
        flex-direction: column;
        gap: 100px;
        align-items: center;
    }

    .table-header th, th, tr td{
        font-size: 14px;
    }

    #name-surname{
        /* width: 100%; */
        margin-left: 0;
        /* padding-left: 25px; BU HISSSƏNİ NƏZƏRƏ AL!!! */
    }

    .pagination{
        justify-content: center;
        margin-top: 28px;
        
        .page-links{
            width: 21px;
            height: 21px;
        }
    }

}